body{
    background-color: #dddddd
}

.all {
    max-width: 1024px;
    margin: auto;
}

p{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    font-size: 160%;
    margin: 1px;
}

.title{
    margin-top: 15px
}

h3{
    font-size: 140%;
    font-weight: normal;
    margin: 3px;
}

img {
    width:100%;
    max-width: 1024px;
    height: auto;
    }

.header{
    text-align: center;
    }

.Navi ul li a img{
    max-width:130px;
    margin:2px;
}

.Navi ul li.logo{
    list-style-type: none;
}

.main{
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid black;
}

pre{
    margin-left: 15px;
}
